.speech {
    font-family: monospace;
    font-size: 15px;
    color: black;
}

.song {
    font-family: monospace;
    font-size: 15px;
    color: black;
}

.direction {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color: lightcyan;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

.direction:hover {
    color: lightblue;
    background-color: black;
}

.queen {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color: lightpink;    
}

.leila {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color: lightcoral;
}

.fleta {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color: lightgreen;
}

.celia {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color: lightskyblue;    
}

.willis {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color: lightgrey;
}

table {
    border: 1px solid black;
    margin-left: 400px;
    margin-top: 50px;
}

th {
    border: 1px solid black;
    background-color: lavender;
    padding: 5px;
}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

tr:nth-child(odd) {background-color: lightgray;}